@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to My house</h1>
    <p>Message from the local environment variable: @Model.EnvironVariable</p>
    <p>Message from the app config variable: @Model.AppConfigVariable</p>
    <p>Message from the key vault variable: @Model.KeyVaultVariable</p>
    <p>Message from the key vault secret: @Model.KeyVaultSecret</p>
    <p>Message from the key vault variable gotten through app config: @Model.KeyVaultVariableAppConfig</p>
    <p>Message from the key vault secret gotten through app config: @Model.KeyVaultSecretAppConfig</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
